VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_STORAGE_BUCKET=
# Ruta del bucket (proporcionada):
VITE_FIREBASE_STORAGE_URL=gs://koop-project-b3b82.firebasestorage.app

# Si no hay carpetas asignadas al usuario, usar esta por defecto
VITE_DEFAULT_DRIVE_FOLDER_URL=
VITE_DEFAULT_DRIVE_FOLDER_NAME=Documentos KOOP

# API base (prod). Si quieres apuntar a una API pública en build, define:
# VITE_API_BASE=https://tu-app.herokuapp.com
